# Trends:

-The percentage of students passing the reading exam, compared to the math exam, was higher for all schools. This could signify that the school district as a whole has a stronger reading circulum or that students find reading as an easier subject.

-In looking at the math scores by grade, there does not appear to be an increase in scores from the 9th grade to the 12th grade despite seniors having more years of schooling.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading CSV documents
school_file = 'Resources/schools_complete.csv'
student_file = 'Resources/students_complete.csv'

In [3]:
#Reading CSV Files
school = pd.read_csv(school_file)
students = pd.read_csv(student_file)

In [4]:
datadf = pd.merge(students, school, how ="left", on = ['school_name','school_name'])

In [5]:
# Data Data Frame
datadf.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary for homework

In [6]:
#Number of Schools
num_of_schools = len(datadf['school_name'].unique())
num_of_schools

15

In [7]:
#Grouping all of the schools together
schoolgroups = datadf.groupby('school_name')

In [8]:
#Number of Students
number_of_students = datadf["student_name"].count()
number_of_students

39170

In [9]:
#Total Budget
#Dropped duplicate data so I could add singular budgets together
datadrop = datadf.drop_duplicates('school_name')

totalbudget = datadrop['budget'].sum()
#can use data drop to get average per student and type of school
#datadrop[['school_name', 'type']]

In [10]:
#Average Math Score
avg_math_score = datadf['math_score'].mean()

avg_math_score

78.98537145774827

In [11]:
#Average Reading Score
avg_reading_score = datadf['reading_score'].mean()

avg_reading_score

81.87784018381414

In [12]:
#Overall avg score
overall_score = ((avg_reading_score)+(avg_math_score))/2

overall_score

80.43160582078121

In [13]:
#Calculating a passing math score greated than 70
passm = datadf['math_score'] >= 70
#passm returns a list of boolean values
#passmath sums the boolean values
passmath = passm.sum()

#divides number of students that passed by overall number of students
passedmath = passmath/number_of_students

#need to make into a percentage
passedmath

0.749808526933878

In [14]:
#Calculating a passing reading score
passr = datadf['reading_score'] >= 70 
#returns boolean values
#passread sums the boolean values
passread = passr.sum()
#calculating the percentage
passedread = passread/ number_of_students

passedread

0.8580546336482001

In [16]:
#Summary Table
#Need to format!
pd.set_option('display.precision',2)

district_summary = pd.DataFrame({"Total Schools": num_of_schools,
                                'Total Students': number_of_students,
                                'Total Budget': totalbudget,
                                'Average Math Score': avg_math_score,
                                'Average Reading Score': avg_reading_score,
                                '% Passing Math': passedmath *100,
                                '% Passing Reading': passedread *100,
                                '% Overall Passing Rate': overall_score* 100},
                               index = [0])

district_summary['Total Students'] = district_summary['Total Students'].map("{:,}".format)
district_summary['Total Budget'] = district_summary['Total Budget'].map("{:,}".format)


district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","24,649,428",78.99,81.88,74.98,85.81,8043.16

# Start of School Summary

In [ ]:
 a = schoolgroups[['size']].first()

In [ ]:
#trying to isolate school budget 

datadf['budgetperstudent'] = datadf['budget'] / datadf['size']

datadf.head()

#need to add to main dataframe

In [ ]:
# budget per student!
# works, is a series and able to be input into dataframe!!
schoolbudgetperstudents = datadf.groupby('school_name').budgetperstudent.mean()

type(schoolbudgetperstudents)

In [ ]:
#type of school
#the first command!!!!
# by putting the first command with the groupby, rendered a series instead of agg 
schooltypes = datadf.groupby('school_name').type.first()

schooltypes

type(schooltypes)

In [ ]:
#average math scores by school

schoolmath = datadf.groupby('school_name').math_score.mean()

schoolmath

In [ ]:
# trying to find percentage of student body that passes test
#adding a new column to the grouped function to try and get the percent
datadf['mathpass'] = datadf.loc[:,'math_score'] >= 70

datadf.head()


#schoolmathpasses= mathpasses.groupby('school_name')

#overallpassmath = schoolmathpasses['size'] / schoolgroups['size']

In [ ]:
mattpassschool = datadf.groupby('school_name')
# % passing math

percpassmath = mattpassschool['mathpass'].mean()

type(percpassmath)

In [ ]:
#calc percentage of students that passed reading exam
# created boolean values for students that scored higher than 70 and created a new column for it
datadf['readpass'] = datadf.loc[:,'reading_score'] >= 70

In [ ]:
#calculating the mean of the column by school
percpassread = datadf.groupby('school_name').readpass.mean()

percpassread

In [ ]:
# overall pass average, an average of the percpassread + percpassmath/2

percpassoverall = (percpassread + percpassmath)/2

In [ ]:
#school budget!!
schoolbudget = datadf.groupby('school_name').budget.first()

In [ ]:
#average reading scores by school
avgschoolread = datadf.groupby('school_name').reading_score.mean()

In [ ]:
#total number of students per school
studentsperschool = schoolgroups['Student ID'].count()

In [ ]:
type(studentsperschool)

In [ ]:
#starting the summary table
#not working...
#have to pass in a SERIES to the data frame!!!!!!!!!
#need to format, can do that later
pd.set_option('display.precision',2)
schoolsummarytable = pd.DataFrame ({'School Type': schooltypes,
                                    'Enrollment': studentsperschool,
                                    'School Budget': schoolbudget,
                                   'Budget Per Student': schoolbudgetperstudents,
                                    'Average Math Score': schoolmath,
                                   '% Passing Math':percpassmath * 100,
                                   'Average Reading Score': avgschoolread,
                                    '% Passing Reading': percpassread * 100,
                                   '% Overall Passing Rate': percpassoverall *100})

schoolsummarytable['School Budget'] = schoolsummarytable['School Budget'].map("{:,}".format)


schoolsummarytable

# Top performing schools

In [ ]:
#use the sort by function

In [ ]:
bestschools = schoolsummarytable.sort_values('% Overall Passing Rate', ascending=False).head()
worstschools = schoolsummarytable.sort_values('% Overall Passing Rate', ascending=False).tail()

In [ ]:
bestschools

In [ ]:
worstschools

# Math Scores by grade

In [ ]:
#create a list of the average math scores by grade
#ninth graders
ninthgrade = datadf.loc[datadf['grade']== '9th',]

mathnine = ninthgrade.groupby('school_name')

mnine = mathnine['math_score'].mean()

In [ ]:
#tenthgraders
tenthgrade = datadf.loc[datadf['grade']=='10th',]

mathtenth = tenthgrade.groupby('school_name')

mten = mathtenth['math_score'].mean()

In [ ]:
#eleventhgraders
eleventhgrade = datadf.loc[datadf['grade']== '11th',]

eleventhmath = eleventhgrade.groupby('school_name')

meleven = eleventhmath['math_score'].mean()

In [ ]:
#seniors!
twelvegrade = datadf.loc[datadf['grade']=='12th']

twelvemath = twelvegrade.groupby('school_name')

mtwelve = twelvemath['math_score'].mean()

In [ ]:
mathsummary = pd.DataFrame({'9th Grade': mnine,
               '10th Grade': mten,
               '11th Grade': meleven,
               '12th Grade': mtwelve})

mathsummary

# Reading Score Summary

In [ ]:
#Getting the average reading scores for ninth grade
nine_df = datadf.loc[datadf['grade']=='9th']

nine_score_read = nine_df.groupby('school_name')

nine_read = nine_score_read['reading_score'].mean()

nine_read

In [ ]:
ten_df = datadf.loc[datadf['grade']=='10th']

ten_score_read = ten_df.groupby('school_name')

ten_read = ten_score_read['reading_score'].mean()

ten_read

In [ ]:
eleven_df = datadf.loc[datadf['grade']=='11th']

eleven_score_read = eleven_df.groupby('school_name')

eleven_read = eleven_score_read['reading_score'].mean()

eleven_read

In [ ]:
twelve_df = datadf.loc[datadf['grade']=='12th']

twelve_score_read = twelve_df.groupby('school_name')

twelve_read = twelve_score_read['reading_score'].mean()

twelve_read

In [ ]:
read_summary = pd.DataFrame({'9th Grade': nine_read,
                            '10th Grade': ten_read,
                            '11th Grade': eleven_read,
                            '12th Grade': twelve_read})
read_summary

# Scores by School Spending!

In [ ]:
#need to make dataframe with school budgets and other parameter(test scores) then input the cut info!
#bins to set limits
bins = [0, 585, 615, 645, 675]
groups = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
#cut the data and place it into bins
pd.cut(schoolsummarytable['Budget Per Student'],bins, labels = groups).head()

In [ ]:
schoolspendingdf = pd.DataFrame({'Average Math Score': schoolmath,
                                '% Passing Math':percpassmath *100,
                                'Average Reading Score': avgschoolread,
                                '% Passing Reading': percpassread *100,
                                '% Overall Passing Rate': percpassoverall *100})
schoolspendingdf

In [ ]:
#need to have spending rangegs be the primary group by instead of school_name
#insert into data df as a column
#then groupby that column ie datadf.groupby('Spending_Range') then can call first to create a series 
schoolspendingdf['SpendingRanges'] = pd.cut(schoolsummarytable['Budget Per Student'],bins, labels = groups)

schoolspendingdf

In [ ]:
#had to go through same process as by assemblign by grade table 
group585 = schoolspendingdf.loc[schoolspendingdf['SpendingRanges'] == '<$585']
#dont even need to groupby school, since already grouping by bin range
avgmath585 = group585['Average Math Score'].mean()

#average math score for schools with less than $585 per students
avgmath585

In [ ]:
avgread585 = group585['Average Reading Score'].mean()

avgread585

In [ ]:
percpassmath585  = group585['% Passing Math'].mean()

percpassmath585 *100

In [ ]:
percpassread585 = group585['% Passing Reading'].mean()

percpassread585 *100

In [ ]:
percpassoveral2 =  group585['% Overall Passing Rate'].mean()

In [ ]:
#Actual answer, dont need to group by school name
group615 = schoolspendingdf.loc[schoolspendingdf['SpendingRanges'] == '$615-645']

spend615 = group615['Average Math Score'].mean()

#spend615math = spend615['Average Math Score'].mean()

#spend615math

spend615

In [ ]:
#dont think that works 
binindex = schoolspendingdf.set_index('SpendingRanges')
#set the index as spending rangesssss!!

mathmeanbin = binindex.groupby('SpendingRanges')['Average Math Score'].mean()

mmb = mathmeanbin.to_frame()

In [ ]:
readmeanbin = binindex.groupby('SpendingRanges')['Average Reading Score'].mean()

rmb = readmeanbin.to_frame()

In [ ]:
passmathbin = binindex.groupby('SpendingRanges')['% Passing Math'].mean()

pmb = passmathbin.to_frame()

In [ ]:
passreadbin = binindex.groupby('SpendingRanges')['% Passing Reading'].mean()

prb  = passreadbin.to_frame()

prb *100

In [ ]:
overallpassbin = binindex.groupby('SpendingRanges')['% Overall Passing Rate'].mean()

opb = overallpassbin.to_frame()

In [ ]:
spendingbindf= pd.DataFrame = ({#'Average Math Score': mathmeanbin,
                               'Average Reading Score': rmb,
                               '% Passing Math': pmb })
                               #'% Passing Reading': passreadbin,
                               #'% Overall Passing Rate': overallpassbin})

In [ ]:
tryagain = pd.merge(mmb,rmb,  on = 'SpendingRanges' )

tryagain1 = pd.merge(tryagain, pmb , on= 'SpendingRanges')
tryagain2 = pd.merge(tryagain1, prb , on ='SpendingRanges')

spendinsdf = pd.merge(tryagain2, opb, on ='SpendingRanges')

In [ ]:
spendinsdf

# Scores by School Size

In [ ]:
#bins for limits
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
#pd.cut(schoolsummarytable['Enrollment'], size_bins, labels = group_names).head()
b = [a]
b
#int(float('Enrollment'))

In [ ]:
schoolspendingdf['SchoolSize'] = pd.cut(schoolsummarytable['Enrollment'], size_bins, labels = group_names)

In [ ]:
schoolsizedf = schoolspendingdf.drop(columns ='SpendingRanges')

In [ ]:
schoolsizedf.set_index('SchoolSize')

In [ ]:
sizeavgmath = schoolsizedf.groupby('SchoolSize')['Average Math Score'].mean()

sam = sizeavgmath.to_frame()

In [ ]:
sizeavgread = schoolsizedf.groupby('SchoolSize')['Average Reading Score'].mean()

sar = sizeavgread.to_frame()

In [ ]:
sizepassmath = schoolsizedf.groupby('SchoolSize')['% Passing Math'].mean()

spm = sizepassmath.to_frame()

In [ ]:
sizepassread = schoolsizedf.groupby('SchoolSize')['% Passing Reading'].mean()

spr = sizepassread.to_frame()

In [ ]:
sizepassoverall = schoolsizedf.groupby('SchoolSize')['% Overall Passing Rate'].mean()

spo = sizepassoverall.to_frame()

In [ ]:
size1df = pd.merge(sam, sar, on= 'SchoolSize')
size2df = pd.merge(size1df, spm, on = 'SchoolSize')
size3df = pd.merge(size2df, spr, on= 'SchoolSize')

scoresbysizedf = pd.merge(size3df, spo, on = 'SchoolSize')

In [ ]:
scoresbysizedf

# Scores by School Type

In [ ]:
schooltypescore = schoolsummarytable.set_index('School Type')

In [ ]:
schooltype = schooltypescore.drop(columns = ['Enrollment', 'Budget Per Student'])

In [ ]:
schooltypegroup = schooltype.groupby('School Type')

In [ ]:
typemathscore = schooltypegroup['Average Math Score'].mean()

tms = typemathscore.to_frame()

In [ ]:
typereadscore = schooltypegroup['Average Reading Score'].mean()

trs = typereadscore.to_frame()

In [ ]:
typemathpercscore = schooltypegroup['% Passing Math'].mean()

tmps = typemathpercscore.to_frame()

In [ ]:
typereadpercscore = schooltypegroup['% Passing Reading'].mean()

trps = typereadpercscore.to_frame()

In [ ]:
typeoverall = schooltypegroup['% Overall Passing Rate'].mean()

toa = typeoverall.to_frame()

In [ ]:
type1df = pd.merge(tms, trs, on= 'School Type')
type2df = pd.merge(type1df, tmps, on = 'School Type')
type3df = pd.merge(type2df, trps, on= 'School Type')

scorebytypedf = pd.merge(type3df, toa, on = 'School Type')

In [ ]:
scorebytypedf